html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    background-image: url("Assets/Background.jpg");
    background-size: cover;
    background-color: transparent;
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #3949AB;
    color: white;
    cursor: pointer;
}

#experience {
    margin-bottom: 20vh; /* Add margin to the bottom of the Experience section */
}

#hero-section,
#experience,
#certifications,
#projects,
#contact {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-section {
    height: 80vh;
}

#contact {
    height: 60vh;
}

img {
    width: 150px;
    height: 150px;
}

.profile-picture {
    width: 150%;
    position: relative;
    top: -90px;
    left: -50px;
    height: auto;
}

#hero-section {
    background-image: url("Assets/Background.jpg");
    background-size: cover;
}

/* Style the hero content within the unique class */
.hero-section-custom .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    padding: 20px; /* Add padding as needed */
}

.hero-section-custom .left-div,
.hero-section-custom .right-div {
    max-width: 50%;
    text-align: center;
    font-size: 2rem;
    justify-contact: center;
    margin: 20px;
    color: white;
    background-color: transparent;
    padding: 100px;
}

.left-div {
    max-width: 50%;
    min-width: 25vw;
    text-align: left;
    color: #1A237E;
    background-color: #E8EAF6;
    padding: 20px;
    margin-right: 3vw;
}

.right-div {
    max-width: 50%;
    min-width: 25vw;
    text-align: left;
    color: #1A237E;
    background-color: #E8EAF6;
    padding: 20px;
}

.section-head {
    text-align: center;
}

.section-title {
    font-size: 2em;
    color: #1A237E;
}

.section-description {
    font-size: 1.2em;
    color: #1A237E;
}

.section-div {
    display: flex;
    justify-content: space-evenly;
}

.left-div p,
.right-div p {
    text-align: left;
    margin: 10px 0;
}

.figure {
    text-align: center;
}

.figure img {
    max-width: 100%;
}

.section-seperator {
    width: 100vw;
    height: 20vh;
    background-image: url("Assets/Background.jpg");
    background-size: cover;
    margin: 0 auto;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.internal-div {
    height: 20px;
    width: 75vw;
    border-bottom: 10px solid #1A237E; /* Adjust the color and thickness as needed */
    position: relative;
    z-index: 999; /* Adjust the value if needed */
}

#projects .section-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap as needed */
    padding: 50px; /* Add padding to the projects section */
}

#projects .projects {
    border: 1px solid #1A237E; /* Add a border for visual separation, adjust as needed */
    padding: 30px;
    text-align: left;
    margin: 10px;
}

footer {
    background-image: url("Assets/Background.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    nav a {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    #hero-section,
    #experience,
    #certifications,
    #projects,
    #contact {
        height: auto; /* Adjust height for smaller screens */
    }

    .profile-picture {
        width: 100%; /* Make the profile picture responsive */
        top: 0;
        left: 0;
    }

    .hero-section-custom .left-div,
    .hero-section-custom .right-div {
        max-width: 100%; /* Adjust max-width for smaller screens */
        padding: 20px; /* Adjust padding for smaller screens */
        margin: 10px; /* Adjust margin for smaller screens */
    }

    #projects .section-div {
        grid-template-columns: 1fr; /* Change to a single column for smaller screens */
    }

    footer {
        padding: 5px; /* Adjust padding for smaller screens */
    }
}
